$light-pink: #fff9fa;
$light-gray: #dbdbdb;
$dark-green: #006500;
$dark-gray: #d1cece;
$white: white;
$light-green: rgb(2, 209, 2);

$font-mono: monospace;

body {
  background: $light-pink;
}

.container {
  border: 6px solid $light-gray;
  border-radius: 10px;
  width: 32rem;
  height: 40rem;
  background: $light-pink;
  margin: 130px auto auto;
  display: flex;
  flex-direction: column;

  .header {
    border: none;
    border-radius: 10px 10px 0 0;
    display: flex;
    gap: 10px;
    height: 15%;
    background: $dark-green;

    .image {
      border: none;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin: 18px 0 18px 18px;
      background: $dark-gray;
    }

    .name {
      margin: 24px 24px 24px 7px;
      color: $white;
      font-family: $font-mono;
      font-size: 24px;
    }

    .status {
      margin: -22px 9px;
      color: $light-green;
      font-family: $font-mono;
      font-size: 12px;
    }
  }

  .messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px 15px 37px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .start {
    margin: 15px 0 0px 100px;
    border: none;
    width: 270px;
    border-radius: 20px;
    padding: 5px 7px 5px 10px;
    background-color: $dark-gray;
    font-family: $font-mono;
  }

  .begin {
    padding: 10px;
  }

  .inputAdd {
    border: none;
    display: flex;
    margin-top: -24px;
    width: auto;
    height: 58px;
    background: $light-gray;

    .inputText {
      margin: 10px 0 5px 10px;
      width: 380px;
      border-radius: 20px;
      border: none;
      background: $white;
      padding-left: 20px;
      font-family: $font-mono;
    }

    .send {
      margin: 10px 10px 5px 10px;
      border-radius: 20px;
      border: 1px solid;
      width: 88px;
      background: $dark-green;
      color: $white;
      font-family: $font-mono;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
